@import "sass/properties";
@import "sass/login";
@import "sass/sidebar";
@import "sass/dishes";
@import "sass/profile";
@import "sass/reservation";
@import "sass/request";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $font-2;
}

#root {
  display: flex;
}
