@import "sass/properties";
@import "sass/login";
@import "sass/sidebar";
@import "sass/dishes";

* {
  /*   margin: 0px !important;
  padding: 0px !important; */
  font-family: $font-2;
}

#root {
  display: flex;
}
