.modaldish__container {
  display: flex;
  flex-direction: row;

  .modaldish__containder--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .modaldish__image {
      height: 60%;
      img {
        width: 100%;
        height: 210px;
        border-radius: 10px;
      }
    }

    .modaldish__price {
      width: 130px;
      display: flex;
      flex-direction: row;
      /* justify-content: space-between; */
      align-items: center;
      img {
        height: 55px;
        margin-right: 10px;
      }
    }
  }

  .modaldish__container-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .modal__ingredient {
      display: flex;
    }
  }
}

#id_header_modal {
  padding: 5px 16px;
  border-bottom: 0;
}

.container__dishes {
  display: flex;

  .container__cards {
    width: 75%;
    margin: 20px;
    height: 93vh;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .container__add {
    width: 25%;
    margin: 20px;
    height: 93vh;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .container__add--aditions {
      width: 100%;
      padding: 5px;
    }
  }
}

.tittle__header {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.card__main {
  .card__dish {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    //justify-content: space-between;
    cursor: default;
    .card__dish__cont {
      width: 30%;
      margin: 10px;
      border-radius: 10px;
      background-color: white;
      box-shadow: $card-shadow;
      .dish__method {
        display: flex;
        justify-content: space-between;
      }
    }
    img {
      width: 100%;
      height: 150px;
    }
    .dish__name {
      text-align: center;
    }
  }
}

.container__add--aditions--values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
  box-shadow: $card-shadow;
  border-radius: 5px;
  font-size: 14;
  margin-top: 10px;
  .container__add--aditions--form {
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    .price {
      display: flex;
      flex-direction: row;

      img {
        height: 20px;
        margin-right: 10px;
      }
    }
  }
  .container__delete__edit--dish {
    height: 60%;
    display: flex;
    flex-direction: row;
  }
}

.container__form {
  .login__form--submit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
  }
}

.form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login__form--submit {
    width: 150px;
  }
  .form__add-edit {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .card__dish__cont {
    width: 40%;
  }
}

.container__add--aditions::-webkit-scrollbar-track {
  background: #e1e1e1;

  border-radius: 4px;
}
