.container__orders {
  display: flex;
  flex-direction: column;

  .request {
    display: flex;
    flex-direction: row;

    .orders {
      margin: 20px;
      width: 85%;
      position: relative;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }

      .request__orders {
        height: 100%;
        width: 100%;
        //background-color: white;
        display: flex;
        flex-direction: row;
        margin: 0px;

        .orders__table {
          height: 40px;

          .orders__table--button {
            margin: 0 2px;
            height: 100%;
            border-radius: 10px;
            box-shadow: $card-shadow;
            background-color: white;
            border: none;
          }
        }
      }
    }
    .request__paid {
      float: right;

      button {
        height: 40px;
        width: 100px;
        margin-top: 30%;
        border-radius: 10px;
        background: $button-color;
        box-shadow: $card-shadow;
        outline: none;
        border: none;
        color: aliceblue;
        &:active {
          background: $button-color-t;
        }
        &:hover {
          box-shadow: $button-shadow;
        }
      }
    }
  }
}

.container__orders--dishes {
  height: 500px;
  width: 1050px;
  margin: 5px 20px;
  position: relative;
  overflow-x: scroll;
  /* scrollbar-width: none; */
  &::-webkit-scrollbar {
    display: none;
  }

  .request__dishes {
    white-space: nowrap;

    .request__dishes--cards {
      height: 460px;
      width: 280px;
      margin: 10px;
      display: inline-block;
      border-radius: 10px;
      background-color: white;
      box-shadow: $card-shadow;

      .dishes__header {
        height: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h6 {
          font-size: 20px;
          margin: auto;
        }

        img {
          margin-top: 15px;
          height: 75%;
          width: 85%;
          border-radius: 10px;
        }
      }

      .dishes__body {
        width: 100%;
        height: 55%;
        padding: 15px;

        .dishes__body--addition,
        .dishes__body--ingredient {
          color: $color-orange-2;
        }
      }

      .dishes__footer {
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
          height: 50px;
          margin: 0 5px;
        }
      }
    }
  }
}
