@import "properties";

.main {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: white;
}

.sidebar__container--head {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;

  img {
    margin: 10px 0;
    height: 50%;
    width: 50%;
    border-radius: 5px;
  }

  a {
    .sidebar__container--name {
      margin: 2px 0 15px 0;
      color: $color-black-1;
    }
    &:hover {
      text-decoration: none;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1.1);
    }
  }
}

.sidebar__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 30px;
  .sidebar__items {
    margin-top: 50px;
    width: 100%;
    .sidebar__items--route {
      display: flex;
      height: 50px;
      list-style: none;
      &:hover {
        border-radius: 10px 0 0 10px;
        background-color: $color-orange-5;
      }
      a {
        height: 100%;
        width: 100%;
        margin-left: 5px;
        color: $color-black-2;
        display: flex;
        align-items: center;
        text-decoration: none;
        span {
          margin-left: 15px;
        }
      }
    }
  }
}

.section {
  height: 100vh;
  width: 100vw;
  .section__container {
    height: 100%;
    width: 100%;
    background-color: $color-orange-5;
    border-radius: 20px;
  }
}

.button__logout {
  color: $color-black-1;
  display: block;
  position: absolute;
  bottom: 10px;
  margin-left: 70px;
  border: none;
  background: none;
  font-size: 14px;
  &:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.1);
  }
}
