@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

$font-tittle: "Ubuntu", sans-serif;
$font-description: "Public Sans", sans-serif;
$card-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
$button-color: linear-gradient(
  90deg,
  rgba(237, 146, 61, 0.9) 1.98%,
  rgba(255, 56, 56, 0.9) 100%
);
